h1 {
	background-color: rgb(146, 224, 237);
	text-align: center;
}
label {
	margin-top: 10px;
	font-weight: bold;
	font-size: 20px;
}
.card {
	margin: 10px;
}
.columnOne {
	background-color: rgb(240, 240, 240)
}
.historyBtnRow {
	margin-top: 3px;
	margin-bottom: 3px;
}
.green{
	background-color: lightgreen;
  }
.yellow{
  background-color: yellow;
}
.orange{
  background-color: orange;
}
.red{
  background-color: red;
}
.purple{
  background-color: purple;
}
.icons {
	height: 70px;
	width: 70px;
}
.todaysDate {
	font-size: 20px;
}
